#results {
  max-width: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

h1 {
  font-size: 100px;
  margin-bottom: 50px;
}

h2 {
  font-size: 80px;
  text-align: center;
}

button {
  margin-top: 50px;
  float: right;
}
